.my-word {
    -fx-font: 50px Aria;
    -fx-fill: red;
}

/*.scene{
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, repeat, black 0%, white 50%, black 100%);
}*/

.root{
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, repeat, black 0%, white 50%, black 100%);
}